# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Data
#data/*.gpkg

# Plots
plot_out/

# Logs
logs/

# Testing
test/
gp-trajec311.sh

# Notebooks
.ipynb_checkpoints/
notebooks/

# Debugging
.vscode/